<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %l [%m]%n" />
        </layout>
    </appender>
    <root>
        <priority value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>

    <appender name="talosThrift" class="com.xiaomi.infra.galaxy.lcs.log.log4j.appender.LCSThriftAppender">
        <layout class="com.xiaomi.infra.galaxy.lcs.log.log4j.layout.LCSMessageLayout" />
        <param name="topicName" value="newTestTopic" />
        <param name="lcsAgentPort" value="3888" />
        <param name="blockWhenBufferFull" value="true" />
        <param name="maxBufferMessageNumber" value="1000000" />
        <param name="maxBufferMessageBytes" value="512000000" />

    </appender>

    <appender name="talosFile" class="com.xiaomi.infra.galaxy.lcs.log.log4j.appender.LCSFileAppender">
        <layout class="com.xiaomi.infra.galaxy.lcs.log.log4j.layout.LCSMessageLayout" />
        <param name="topicName" value="newTestTopic" />
        <param name="rootFilePath" value="/home/xiajun/testdata" />
        <param name="blockWhenBufferFull" value="true" />
        <param name="maxBufferMessageNumber" value="1000000" />
        <param name="maxBufferMessageBytes" value="512000000" />

    </appender>

    <logger name="com.xiaomi.infra.galaxy.lcs.log.log4j.LCSLogger" additivity="false">
        <level value="info" />
        <appender-ref ref="talosThrift" />
        <!--<appender-ref ref="file" />-->
    </logger>
</log4j:configuration>